<h1>Sign In</h1>

<%= form_with url: sign_in_path do |form| %>
  <div class="mb-3">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", placeholder: "example@email.com" %>
  </div>

  <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div> 
    
  <div class="mb-3">
    <%= form.submit "Sign In", class: "btn btn-primary" %>
  </div>


<% end %>

<footer class="footer mt-auto py-3">
  <div class="container">
    <p class="text-muted text-center">Contributed by Kyle Zoellner</p>
  </div>
</footer>